1.py
2.py
3.py
4.py
5.py
6.py
9.py
10.py
test 2.py
reverse_content.py
test.py
vet_clinic.log
vet_clinic.py
АЙПІ.py
Міні Проект – копія.py
Міні Проект.py
Мені вашко перейменовувати тому буду писати що хочу.py
Наказали 1.py
наказали 2.py
наказана 1.py
наказана 2.py
наказана 3.py
Фініш на сьогодні.py
Фініш.py
Щось.py